@charset "UTF-8";
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*#tacita-dean-film-stills-2011 img {
  height: 385px;
  width: 220px; }

#tacita-dean-craneway-event-2010 img {
  width: 300px;
  height: 115px; }

#tacita-dean-craneway-event-2010 img {
  width: 300px;
  height: 115px; }

#tacita-dean-darmstadter-werkblock-2008 img {
  width: 300px;
  height: 225px; }*/
/* nbj-projects */
.works {
  display: inline-block;
  width: 100%; }

.dots-at-work {
  height: 20px;
  background-image: url(images/dotted_line.gif);
  background-repeat: no-repeat;
  border-bottom: 0.1em dotted; }

.works p {
  float: left; }

.works img {
  width: 333px;
  border: 0;
  margin: 5px; }

.works span {
  border: 0;
  margin: 5px; }

/* 	visning af projekter	*/
/* skills */
/*.skillList > li:first-child {
  display: none; }*/

/* #pageHead	*/
#pageHead {
  padding: 10px 0 30px 0;
  margin: 0 3% 30px 3%;
  background: transparent url(images/dotted_line.gif) 0 bottom repeat-x; }

#pageHead h1 {
  font-size: 1.4em;
  line-height: 1.4em;
  padding: 0;
  margin-bottom: 0;
  display: block;
  color: #555555; }

#pageHead p {
  margin: 0 !important;
  padding: 10px 0 0 0 !important;
  color: #b2b2b2;
  line-height: 2em;
  /*ændret fra 1em*/ }

/* 	Typografi	*/
h2.trompet {
  color: #333333;
  font-size: rem-calc(11);
  line-height: 10.2;
  max-width: 75%;
  font-weight: 500;
  font-style: italic; }

.text-center, .center {
  text-align: center; }

.text-right, .right {
  text-align: right; }

.text-left, .left {
  text-align: left; }

/*	240116	*/

#mainNav ul ul li a {padding: 0 0 0 0;line-height: 10px;}
.flex-control-nav{z-index:11;}

@media only screen and (max-width: 320px){

  	#projects img.thumb.wp-post-image{min-width:292px;}
	#menu-item-166 ul{left:-100px;}
	#menu-item-931 ul{left:-170px;}
}
@media only screen and (min-width:360px) and (max-width: 480px){#menu-item-1019 ul{left:-150px;}}
  /* 240116-2	*/
  li.menu-item-166 ul{

}

bg-yellow{background:yellow;}

/*	260116	*/

/*	themetrust-social	*/

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.ttrustSocial {
	display: block !important;
}

.ttrustSocial ul li {
	float: left !important;
	margin: 0px 0px 0px 0 !important;
	padding-top: 5px !important;
	background-color: transparent !important;
	list-style-type: none !important;
	background: none;
}

.ttrustSocial ul {
	background-color: transparent;
	display: block;
	padding: 0px !important;

	list-style: none !important;
}

.ttrustSocial ul.tiny li span {
	font-size:1em; margin-right:12px; line-height:2.6em;
}

.ttrustSocial ul.small li span {
	font-size:1.4em; margin-right:12px;
}

.ttrustSocial ul.medium li span {
	font-size:2em; margin-right:12px;
}

.ttrustSocial ul.large li span {
	font-size:3em; margin-right:7px;
}

.ttrustSocial a {
	font-weight: lighter;
	text-decoration: none;
}

.ttrustSocial ul li a:hover {
	border: none !important;
	text-decoration: none !important;
}

/* Load the icon font */
@font-face {
	font-family: 'ThemeTrustSocial';
	src:url('fonts/ThemeTrustSocial.eot');
	src:url('fonts/ThemeTrustSocial.eot?#iefix') format('embedded-opentype'),
		url('fonts/ThemeTrustSocial.svg#SimpleSocial') format('svg'),
		url('fonts/ThemeTrustSocial.woff') format('woff'),
		url('fonts/ThemeTrustSocial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'ThemeTrustSocial';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.icon-feed:before {
	content: "'";
}
.icon-amazon:before {
	content: "\21";
}
.icon-blogger:before {
	content: "A";
}
.icon-delicious:before {
	content: "I";
}
.icon-deviantart:before {
	content: "J";
}
.icon-dribbble:before {
	content: "D";
}
.icon-facebook:before {
	content: "b";
}
.icon-flickr:before {
	content: "v";
}
.icon-forrst:before {
	content: "K";
}
.icon-github:before {
	content: "Q";
}
.icon-google-plus:before {
	content: "c";
}
.icon-lastfm:before {
	content: "q";
}
.icon-picassa:before {
	content: "\2c";
}
.icon-reddit:before {
	content: "C";
}
.icon-skype:before {
	content: "g";
}
.icon-soundcloud:before {
	content: "n";
}
.icon-tumblr:before {
	content: "z";
}
.icon-twitter:before {
	content: "a";
}
.icon-vimeo:before {
	content: "s";
}
.icon-wordpress:before {
	content: "y";
}
.icon-pinterest1:before {
	content: "d";
}

.icon-instagram:before {
	content: "x";
}
.icon-youtube:before {
	content: "r";
}
.icon-vine:before {
	content: "u";
}
.icon-behance:before {
	content: "H";
}
.icon-linkedin:before {
	content: "j";
}



